.nav {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 10px 10px;
    text-align: center; /* « The magic. */
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.nav a {
    display: inline-block; /* « Last bit of magic. */
    padding: 10px;
    color: black;
}

thead {
    border-bottom: 2px solid rgb(160 160 160);
    text-align: center;
    background-color: #e5eef2;
    color: #090101;
    word-spacing: 2cm;
}

  